body {
    font-family: 'Roboto', sans-serif;
}

.cards {
    margin-top: 150px;
}

.card-plan {
    border: none;
    border-radius: 0;
    background: #e47323;
}

.card-rank {
    border: none;
    border-radius: 0;
    background: #9d9737;
}

.card-sugg {
    border: none;
    border-radius: 0;
    background: #f5ab38;
}

.card-txt {
    text-align: center;
    padding: 100px 0;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    bottom: 20px;
    position: absolute;
    right: 30px;
}

footer ul li {
    display: inline-block;
}