body {
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: none;
}

.cards {
    margin-top: 150px;
}

.cards-link:hover {
    background: #e46713;
    transition: 0.9s;
}
.card-plan {
    border: none;
    border-radius: 0;
    background: #e47323;
}

.card-rank {
    border: none;
    border-radius: 0;
    background: #9d9737;
}

.card-sugg {
    border: none;
    border-radius: 0;
    background: #f5ab38;
}

.card-txt {
    text-align: center;
    padding: 100px 0;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

.card-txt a {
    color: white;
}

.card-txt a:hover {
    color: white;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
}

.brand-left {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.login-right {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}



/* Pläne */

.left-h {
    background: green;
    height: 100vh;
}

.right-h {
    background: pink;
    height: 100vh;
}