body {
    font-family: 'Roboto', sans-serif;
}

.start {
    background: lightyellow;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

th {
    font-weight: normal;
}

a:hover {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

footer ul, .nav-absolute ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

footer ul li, .nav-absolute ul li {
    display: inline-block;
    margin-right: 15px;
}

footer ul li a {
    color: black;
}

footer ul li a:hover, .nav-absolute ul li a:hover {
    color: rgba(0,0,0,.7);
}

.login-right {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

/* Pläne */

.left-h {
    background: lightyellow;
    height: 100%;
    -webkit-box-shadow: 10px 0px 13px -8px rgba(0,0,0,0.61);
    -moz-box-shadow: 10px 0px 13px -8px rgba(0,0,0,0.61);
    box-shadow: 10px 0px 13px -8px rgba(0,0,0,0.61);
    z-index: 10;
}

.right-h {
    height: 100vh;
}

.space {
    margin-top: 25%;
    margin-bottom: 25%;
}

.rank {
    overflow: scroll;
}

.card-link .plan:hover {
    background-color: #f29c0c;
    border: #f29c0c;
    transition: 0.3s;
}

.card-link .sugg:hover {
    background-color: #729922;
    border: #729922;
    transition: 0.3s;
}

.card-link .rank:hover {
    background-color: #cc4e0e;
    border: #cc4e0e;
    transition: 0.3s;
}

@media (min-width: 992px) { 
    .left-h {
        height: 100vh;
    }
 }





 /*Bootstrap*/

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}

.list-group a {
    color: black;
}

 .list-group a:hover {
     background: orange;
     color: white;
 }



 .navbar {
     position: absolute;
     z-index: 100;
     top: 0;
 }

 main {
     min-height: 100vh;
     display: flex;
    align-items: center;
    justify-content: center;
 }

 .card {
     width: 300px;
     height: 250px;
 }

 .card-body {
    margin-top: 85px;
    color: white;
 }

 .card-body {
     font-size: 24px;
     text-transform: uppercase;
 }

 .plan {
    background-color: #f6ae00;
    border-color: #f6ae00;
    -webkit-box-shadow: 9px 8px 7px -8px rgba(0,0,0,0.51);
    -moz-box-shadow: 9px 8px 7px -8px rgba(0,0,0,0.51);
    box-shadow: 9px 8px 7px -8px rgba(0,0,0,0.51);
 }

 .sugg {
    background-color: #84b100;
    border-color: #84b100;
    -webkit-box-shadow: 9px 8px 7px -8px rgba(0,0,0,0.51);
    -moz-box-shadow: 9px 8px 7px -8px rgba(0,0,0,0.51);
    box-shadow: 9px 8px 7px -8px rgba(0,0,0,0.51);
 }

 .rank {
    background-color: #e15400;
    border-color: #e15400; 
    -webkit-box-shadow: 9px 8px 7px -8px rgba(0,0,0,0.51);
    -moz-box-shadow: 9px 8px 7px -8px rgba(0,0,0,0.51);
    box-shadow: 9px 8px 7px -8px rgba(0,0,0,0.51);
 }

 .box-table {
     overflow: scroll;
     height: 60vh;
 }

 .btn-primary {
     background-color: #84b100;
     border: #84b100;
 }

 .btn-primary:hover {
     background-color: #729922
 }

 a {
     color: #84b100;
 }

 a:hover {
     color: #729922;
 }



 /*RANK*/

 .right {
    display: inline-block;
    position: absolute;
    right: 0;
}

.ranking ul {
    list-style-type: none;
    padding: 0;
}

.ranking ul li {
    margin-bottom: 10px;
}

h1 {
    font-size: 28px;
}

.icon-carrot:hover::before {
    color: #f29c0c;
    transition: 0.3s;
}

.icon-login:hover::before {
    color: #f29c0c;
    transition: 0.3s;
}
