<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
        <link href="css/stylesheet.css" rel="stylesheet">
        <link href="css/rightside.css" rel="stylesheet">
        <link href="css/icomoon.css" rel="stylesheet">
        <title>Mensaplan</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/"><span class="icon-carrot"></span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/plaene">Pläne</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/vorschlage">Vorschläge</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ranking">Ranking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link logout" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="login-right">
                <a href="/login">
                    <span class="icon-login">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                    </span>
                </a>
            </div>
        </header>
        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 left-h">
                        <div class="col-lg-10 mx-auto">
                            <div class="space">
                                <form action="/gerichte" method="POST">
                                    <div class="form-group">
                                        <label for="tagesauswahl">Tagesauswahl</label>
                                        <select name="tagauswahl" class="form-control">
                                            <option value="montag">Montag</option>
                                            <option value="dienstag">Dienstag</option>
                                            <option value="mittwoch">Mittwoch</option>
                                            <option value="donnerstag">Donnerstag</option>
                                            <option value="freitag">Freitag</option>
                                        </select>
                                    </div>
                                    
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                                <label for="gericht1">Gericht 1</label>
                                                <input type="text" name="gericht1" class="form-control" placeholder="Gericht">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="preis1">Preis</label>
                                            <input type="text" name="preis1" class="form-control" placeholder="Preis">
                                        </div>
                                        <div class="form-group col-lg-3">
                                                <label for="eigenschaft">Eigenschaft</label>
                                                <select name="eigenschaft1" class="form-control">
                                                    <option value="vegan">Vegan</option>
                                                    <option value="vegetarisch">Vegetarisch</option>
                                                    <option value="mit Fleisch">mit Fleisch</option>
                                                    <option value="mit Fisch">mit Fisch</option>
                                                </select>
                                         </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label for="gericht2">Gericht 2</label>
                                            <input type="text" name="gericht2" class="form-control" placeholder="Gericht">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="preis2">Preis</label>
                                            <input type="text" name="preis2" class="form-control" placeholder="Preis">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="eigenschaft">Eigenschaft</label>
                                            <select name="eigenschaft2" class="form-control">
                                                <option value="vegan">Vegan</option>
                                                <option value="vegetarisch">Vegetarisch</option>
                                                <option value="mit Fleisch">mit Fleisch</option>
                                                <option value="mit Fisch">mit Fisch</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label for="gericht3">Gericht 3</label>
                                            <input type="text" name="gericht3" class="form-control" placeholder="Gericht">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="preis3">Preis</label>
                                            <input type="text" name="preis3" class="form-control" placeholder="Preis">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="eigenschaft">Eigenschaft</label>
                                            <select name="eigenschaft3" class="form-control">
                                                <option value="vegan">Vegan</option>
                                                <option value="vegetarisch">Vegetarisch</option>
                                                <option value="mit Fleisch">mit Fleisch</option>
                                                <option value="mit Fisch">mit Fisch</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">absenden</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 right-h p-0">
                        <div class="right-side-admin"></div>
                    </div>
                </div>
            </div>
        </main>
        </div>
        <footer>
            <ul>
                <li><a href="/impressum">Impressum</a></li>
                <li><a href="/datenschutz">Datenschutz</a></li>
            </ul>
        </footer>
        <div class="container"></div>

        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>