<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
        <link href="css/stylesheet.css" rel="stylesheet">
        <link href="css/rightside.css" rel="stylesheet">
        <title>Mensaplan</title>
    </head>
    <body>
        <header>
            <div class="nav-absolute">
                <a class="brand-left" href="/">
                    <img src="img/logo.png" width="50" height="50" alt="Die Karotte">
                </a>
                <ul>
                    <li><a href="#">Pläne</a></li>
                    <li><a href="#">Vorschlag</a></li>
                    <li><a href="#">Ranking</a></li>
                </ul>
            </div>
                <a class="login-right" href="/login">
                    <img src="img/login.jpg" width="50" height="50" alt="Login-Button">
                </a>
        </header>
        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 left-h">
                        <div class="col-lg-10 mx-auto">
                            <div class="space">
                                <form action="/gerichte" method="POST">
                                    <div class="form-group">
                                        <label for="tagesauswahl">Tagesauswahl</label>
                                        <select name="tagauswahl" class="form-control">
                                            <option value="montag">Montag</option>
                                            <option value="dienstag">Dienstag</option>
                                            <option value="mittwoch">Mittwoch</option>
                                            <option value="donnerstag">Donnerstag</option>
                                            <option value="freitag">Freitag</option>
                                        </select>
                                    </div>
                                    
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                                <label for="gericht1">Gericht 1</label>
                                                <input type="text" name="gericht1" class="form-control" placeholder="Gericht">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="preis1">Preis</label>
                                            <input type="text" name="preis1" class="form-control" placeholder="Preis">
                                        </div>
                                        <div class="form-group col-lg-3">
                                                <label for="eigenschaft">Eigenschaft</label>
                                                <select name="eigenschaft1" class="form-control">
                                                    <option value="vegan">Vegan</option>
                                                    <option value="vegetarisch">Vegetarisch</option>
                                                    <option value="fleisch">mit Fleisch</option>
                                                    <option value="fisch">mit Fisch</option>
                                                </select>
                                         </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label for="gericht2">Gericht 2</label>
                                            <input type="text" name="gericht2" class="form-control" placeholder="Gericht">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="preis2">Preis</label>
                                            <input type="text" name="preis2" class="form-control" placeholder="Preis">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="eigenschaft">Eigenschaft</label>
                                            <select name="eigenschaft2" class="form-control">
                                                <option value="vegan">Vegan</option>
                                                <option value="vegetarisch">Vegetarisch</option>
                                                <option value="fleisch">mit Fleisch</option>
                                                <option value="fisch">mit Fisch</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label for="gericht3">Gericht 3</label>
                                            <input type="text" name="gericht3" class="form-control" placeholder="Gericht">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="preis3">Preis</label>
                                            <input type="text" name="preis3" class="form-control" placeholder="Preis">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="eigenschaft">Eigenschaft</label>
                                            <select name="eigenschaft3" class="form-control">
                                                <option value="vegan">Vegan</option>
                                                <option value="vegetarisch">Vegetarisch</option>
                                                <option value="fleisch">mit Fleisch</option>
                                                <option value="fisch">mit Fisch</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">absenden</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 right-h p-0">
                        <div class="right-side"></div>
                    </div>
                </div>
            </div>
        </main>
        </div>
        <footer>
            <ul>
                <li><a href="#">Impressum</a></li>
                <li><a href="#">Datenschutz</a></li>
            </ul>
        </footer>
        <div class="container"></div>

        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>