<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
        <link href="css/stylesheet.css" rel="stylesheet">
        <link href="css/rightside.css" rel="stylesheet">
        <link href="css/icomoon.css" rel="stylesheet">
        <title>Mensaplan</title>
    </head>
    <body>
        <header>
            <div class="nav-absolute">
                <a class="brand-left" href="/">
                    <span class="icon-carrot"></span>
                </a>
                <ul>
                    <li><a href="/plaene">Pläne</a></li>
                    <li><a href="/vorschlage">Vorschlag</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                </ul>
            </div>
            <div class="login-right">
                <a href="/login">
                    <span class="icon-login">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                    </span>
                </a>
            </div>
        </header>
        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 left-h">
                        <div class="col-lg-10 mx-auto">
                            <div class="space">
                                <ul class="list-group text-center">
                                    <a href="/wochenuebersicht" class="list-group-item">
                                        Wochenübersicht
                                    </a>
                                    <a href="/montag" class="list-group-item">
                                        Montag
                                    </a>
                                    <a href="/dienstag" class="list-group-item">
                                        Dienstag
                                    </a>
                                    <a href="/mittwoch" class="list-group-item">
                                        Mittwoch
                                    </a>
                                    <a href="/donnerstag" class="list-group-item">
                                        Donnerstag
                                    </a>
                                    <a href="/freitag" class="list-group-item">
                                        Freitag
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 right-h p-0">
                        <div class="right-side"></div>
                    </div>
                </div>
            </div>
        </main>
        </div>
        <footer>
            <ul>
                <li><a href="/impressum">Impressum</a></li>
                <li><a href="/datenschutz">Datenschutz</a></li>
            </ul>
        </footer>
        <div class="container"></div>

        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>