<!DOCTYPE html>
<html>
    <head>
        <title>Registrierung</title>
    </head>
    <body>
        <p><br><%= message%></p>
        <form action = "/registrieren" method = "POST">
                <input type = "text" name = "name" placeholder = "Vor- und Nachname"> <br>
                <input type = "text" name = "passwort" placeholder = "Passwort"> <br>
                <input type = "text" name = "passwortwdh" placeholder = "Passwort wiederholen"> <br>
                <button type = "submit">Registrieren</button>
        </form>
    </body>
</html>