<!DOCTYPE html>
<html>
    <head>
        <title>Registrierung</title>
    </head>
    <body>
        <form action = "registrieren" method = "POST">
                <input type = "text" name = "nachname" placeholder = "Nachname"> <br>
                <input type = "text" name = "vorname" placeholder = "Vorname"> <br>
                <input type = "text" name = "passwort" placeholder = "Passwort"> <br>
                <input type = "text" name = "passwortwdh" placeholder = "Passwort wiederholen"> <br>
                <button type = "submit">registrieren</button>
        </form>
    </body>
</html>